.header {
  background-color: darkgreen;
  color: white;
  border-style: inset;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", Arial, Verdana, Geneva, Tahoma, sans-serif, bold;
}
table {
  width: 100%;
  border: 1px;
  border-collapse: collapse;
  font-style: bold;
}
tr {
  border-style: inset;
  border-radius: 25px;
  padding: 20px;
  width: 100px;
  height: 10px;
  font-family: "Lucida Sans", Arial, Verdana, Geneva, Tahoma, sans-serif, bold;
}

td {
  text-align: right;
}
th {
  text-align: right;
  color: white;
  background-color: darkgreen;
  padding: 15px;
}
